<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874567237215-20mi6134rvs744bcjus86sob29ic3n9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874567237215-20mi6134rvs744bcjus86sob29ic3n9h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>874567237215-8m4v0nuv6j1q4f3f4mdnukf387mjc148.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAD1kc5pgVfvZIiTwf8hy2FD1RSukNx5w0</string>
	<key>GCM_SENDER_ID</key>
	<string>874567237215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.vashishtha</string>
	<key>PROJECT_ID</key>
	<string>vashishtha-01-694d7</string>
	<key>STORAGE_BUCKET</key>
	<string>vashishtha-01-694d7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874567237215:ios:a5ea88343dd599ccfe25ea</string>
	<key>DATABASE_URL</key>
	<string>https://vashishtha-01-694d7-default-rtdb.firebaseio.com</string>
</dict>
</plist>